# The following is Jake Vanderplas breaking down how to use groupby

In [1]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.DataFrame({'x': 10 * np.random.rand(100),
                     'y': 10 * np.random.rand(100)})
data.head()

In [ ]:
def get_outliers(x):
    mu = x.mean()
    std = x.std()
    return x[(x < mu - std) | (x > mu + std)]

result = data.groupby(pd.cut(data.x, 10))['y'].apply(get_outliers)

In [ ]:
result.head()

In [ ]:
index = result.index.droplevel(0)
data.iloc[index].sort_index()

## Now me Playing with the code for learning purposes.

### - Dictionaries and dataframes

In [ ]:
#Just a simple dictionary with string for key, and int for value. 
new_dict_0 = {"x":1,
            "y":2,
            "z":3}
print(new_dict_0)

In [ ]:
#now lets try using a list of values to one key
new_dict_1 =  {"x":[1,2,3,4,5],
               "y":[1,2,3,4,5],
               "z":[1,2,3,4,5]}
print(new_dict_1)
type(new_dict_1)

In [ ]:
#Can we convert a dict into a dataframe? 
my_dataframe_0 = pd.DataFrame(new_dict_1)
print(my_dataframe_0)
print(type(my_dataframe_0))
my_dataframe_0.head()

### - Random module

In [ ]:
#the numpy random package, this is numpy object called nd array. outputs floats between 0 and 1. May have dimensions. 
object_1 = np.random.rand(5)*10 #multiply by 10 just to get bigger values (above 1). 
print(object_1)
type(object_1)

#play with input of np.random.rand(x,y,z)... try (2,5) or (5,2) or (2,5,5)

### - Dataframes from random modules

In [ ]:
fake_data_0 = pd.DataFrame({"x": np.random.rand(5)*10,
                            "y": np.random.rand(5)*10})
fake_data_1 = {"z": np.random.rand(20)*10}
fake_data_2 = pd.DataFrame({"q": np.random.rand(5)*10})

In [ ]:
fake_data_0.head()

In [ ]:
list_0 = [1,2,3,4,5,6]
list_0[3]

In [ ]:
#trying to understand the following function:
def get_outliers_1(x): 
    mu = x.mean()   #this works because the input is a dataframe object which has built in attributes (mean, std)
    std = x.std()
    return x[(x < mu - std) | (x > mu + std)]

In [ ]:
#testing attributes of a dataframe 
fake_data_0.mean()  #note that fake_data_1.mean(), and list_0.mean() wont work because only df object has this attribute

# Jake VanderPlas tutorial on groupby 
### from http://nbviewer.jupyter.org/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.08-Aggregation-and-Grouping.ipynb

In [4]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)})#, columns=['key', 'data'])

In [8]:
df.head()

   data key
0     0   A
1     1   B
2     2   C
3     3   A
4     4   B

In [15]:
df.groupby("key").count()

     data
key
A       2
B       2
C       2

In [3]:
list(range(6))

[0, 1, 2, 3, 4, 5]