In [2]:
import numpy as np
import pandas as pd

In [87]:
def print_basics(array):
    """
    func to print the basic attributes of a given array
    """
    
    print("array ","\n", array)
    print("array.shape ","\n", array.shape)
    print("array.size ","\n", array.size)
    print("array.ndim ","\n", array.ndim)

### experimenting with array shapes, axis,stack, concatenate

Working with 1d arrays

In [ ]:

a = np.arange(1,4)
b = np.arange(4,7)
c = np.arange(7,10)
d = np.arange(10,13)
e = np.arange(13,16)
f = np.arange(16,19)


print(a, b, c, d, e)

In [ ]:
array = np.concatenate([a,b,c,d], axis = 0)
print_basics(array)

In [ ]:
array = np.hstack([a,b,c,d],)
print_basics(array)

In [ ]:
array_a = np.vstack([a,b,c,d])
print_basics(array_a)

In [ ]:
array_b = np.vstack([e,f,])
print_basics(array_b)

In [ ]:
array_c = np.concatenate([array_a,array_b], axis = 0)
print_basics(array_c)

In [ ]:
array_c = np.vstack([array_a, array_b])
print_basics(array_c)

Working with 2d arrays

In [ ]:
aa = np.arange(0,6,1)
aa = aa.reshape((3,2))

In [ ]:
bb = aa+6
cc = aa+6*2
dd = aa+6*3

In [ ]:
print_basics(aa)

In [ ]:
aaa = np.stack([aa,bb,cc,dd], axis = 0)
print_basics(aaa)

### experimenting stack across different axis

In [ ]:
a_0 = np.arange(0,6,1)

In [ ]:
a_0 = a_0.reshape((3,2))
print_basics(a_0)

In [ ]:
a_1 = a_0+6*1
a_2 = a_0+6*2
a_3 = a_0+6*3

In [ ]:
print_basics(a_2)

In [ ]:
stack_0 = np.stack([a_0,a_1,a_2,a_3], axis=0)
print_basics(stack_0)

In [ ]:
stack_0[3]

In [ ]:
stack_1 = np.stack([a_0, a_1, a_2, a_3], axis = 1)
print_basics(stack_1)

In [ ]:
stack_1

In [ ]:
stack_2 = np.stack([a_0,a_1,a_2,a_3], axis =2)
print_basics(stack_2)

### Experimenting with multi-indexing

In [4]:
x = np.arange(10)
y = x**2

In [5]:
data = {"X":x,
       "Y":y,
        "Categoty":["Bloop" if i<5 else "Poop" for i in x],
        "state":["solid","solid","solid","liquid","liquid","liquid","gas","gas","gas","gas"]}

In [15]:
df = pd.DataFrame(data)

In [13]:
df.set_index(["state","Categoty"], inplace = True)

In [16]:
df.set_index(["Categoty", "state"], inplace = True)

In [17]:
df

                 X   Y
Categoty state
Bloop    solid   0   0
         solid   1   1
         solid   2   4
         liquid  3   9
         liquid  4  16
Poop     liquid  5  25
         gas     6  36
         gas     7  49
         gas     8  64
         gas     9  81

In [20]:
df.index.levels

FrozenList([['Bloop', 'Poop'], ['gas', 'liquid', 'solid']])

In [21]:
df.index.labels

FrozenList([[0, 0, 0, 0, 0, 1, 1, 1, 1, 1], [2, 2, 2, 1, 1, 1, 0, 0, 0, 0]])

In [22]:
df.index.names

FrozenList(['Categoty', 'state'])

In [23]:
df.index.values

array([('Bloop', 'solid'), ('Bloop', 'solid'), ('Bloop', 'solid'),
       ('Bloop', 'liquid'), ('Bloop', 'liquid'), ('Poop', 'liquid'),
       ('Poop', 'gas'), ('Poop', 'gas'), ('Poop', 'gas'), ('Poop', 'gas')],
      dtype=object)